[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    "@openzeppelin-contracts=lib/openzeppelin-contracts",
    "@forge-std=lib/forge-std",
    "@chainlink=lib/chainlink-brownie-contracts",
]
